html 
{ 
    scroll-behavior: smooth;
}
/*navbar*/
.header
{ 
    background-color: #9dd3d0; 
    width: 100%; 
    position: fixed; 
    z-index: 1;
}
.navbarimg 
{ 
    height: 40px;
     width: 120px; 
}
.nav-link 
{ 
    font-size: 1.2rem; 
}
li:hover a 
{ 
    transition: .5s;
    box-sizing: border-box;
    width: 100%;
    border: solid #000000 0.21rem;
    padding: 0.4rem; 
    border-top: 0rem;
    border-left: 0rem;
    border-right: 0rem; 
}
/*section1*/
.s1 
{ 
    padding-top: 70px;
    width: 100%;
}
.carousel-indicators 
{ 
    z-index: 0;
}
.carousel 
{ 
    z-index: 0;
}
/* section2*/
.s2para
{
    text-align: center; 
    font-size: x-large;font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.btn-primary
{
    border-radius: 5px;
}
/*section3*/
.form_box
{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 5px;
    margin:5% auto 5%;
    width: 50%;
    padding: 2%;
}
.text_center{
    text-align: center;
}
.s3btn
{
    margin:2% auto; 
    width: 150px;
    background-color: #9dd3d0;
    border-radius: 5px;
}
/* section4*/
.section4
{
    background-color: #d8eff3;
}
.s4head
{
    text-decoration: underline;
}
